{% extends 'layout.html' %}

{% block title %}
    {% block header %}Log In{% endblock %}
{% endblock %}

{% block content %}

    <h1>Welcome!</h1>

    <form method="POST">
        <div class="form-container">
                <div class="form-content">
                    <label class="form-content-label" for="username">Username</label>
                    <input class="form-content-input" type="text" id="username" name="username" required>
                </div>
                <div class="form-content">
                    <label class="form-content-label" for="password">Password</label>
                    <input class="form-content-input" type="password" id="password" name="password" required>
                </div>
            <input class="form-content-button" type="submit" value="Log In">
        </div>
    </form>

{% endblock %}

<!-- hola chau -->